POSTGRES_USER=unicorn_db_keeper
POSTGRES_PASSWORD=fake_pw_do_not_use
POSTGRES_DB=imaginary_ml_world
POSTGRES_HOST_PORT=59999

REDIS_HOST_PORT=46379

MLFLOW_HOST_PORT=45001

AIRFLOW_WEBSERVER_HOST_PORT=48080

AIRFLOW_ADMIN_USERNAME=not_the_real_admin
AIRFLOW_ADMIN_PASSWORD=fake_airflow_secret
AIRFLOW_ADMIN_EMAIL=void@blackhole.invalid

CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_PORT=9000
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=fake_clickhouse_secret
CLICKHOUSE_DB=ml
