POSTGRES_USER=unicorn_db_keeper
POSTGRES_PASSWORD=fake_pw_do_not_use
POSTGRES_DB=imaginary_ml_world
POSTGRES_HOST_PORT=59999

MINIO_ROOT_USER=potato_s3_lord
MINIO_ROOT_PASSWORD=fake_minio_secret
MINIO_API_HOST_PORT=49999
MINIO_CONSOLE_HOST_PORT=48888

REDIS_HOST_PORT=46379

MLFLOW_HOST_PORT=45001

AIRFLOW_WEBSERVER_HOST_PORT=48080

AIRFLOW_ADMIN_USERNAME=not_the_real_admin
AIRFLOW_ADMIN_PASSWORD=fake_airflow_secret
AIRFLOW_ADMIN_EMAIL=void@blackhole.invalid
